body{
  margin: 0
}

text {
  font-size: 14px;
}

.title {
  font-size: 22px;
}

.tick line {
  opacity: 0.2;
  stroke-dasharray: 5 5; 
}

.data-label {
  font-size: 18px;
  fill: #ffffff;
}

.axis-label {
  fill: #7d7d7d;
}